/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
     img { width: 95%; }
	 footer { font-size: 90%; padding-left: 0; }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
        .section1 {
		display: grid;
		grid-template-columns: auto;
	   }
	   .section2 {
		display: grid;
		grid-template-columns: auto auto;	   
	   }
        img { width: 90%; }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {

	footer {
		display: grid;
		grid-template-columns: auto auto;
	}  
	.section2 { 
         display: grid;
		 grid-template-columns: auto auto auto;
	}	

}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
	.section1 {
		display: grid;
		grid-template-columns: auto auto;
	}
	.section2 {
		grid-template-columns: auto auto auto auto;
	}
	footer {
		display: grid;
		grid-template-columns: auto auto auto;
	}
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {...}